atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
Django==2.2.9
django-filter==2.4.0
djangorestframework==3.12.2
idna==2.10
iniconfig==1.1.1
instance==0.0.0.0.0.0a0.dev20210120
jsonpath==0.82
Markdown==3.3.3
mixins==0.1.4
packaging==20.9
Pillow==8.1.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
pytz==2020.5
requests==2.25.1
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.3
